# Environment Variables
.env

# mounted volume
sites

development/*
!development/README.md
!development/installer.py
!development/apps-example.json
!development/vscode-example/

# Pycharm
.idea

# VS Code
.vscode/**
!.vscode/extensions.json

# VS Code devcontainer
.devcontainer
*.code-workspace

# Python
*.pyc
__pycache__
venv

# NodeJS
node_modules

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# Bench / Frappe
sites/*/private/
sites/*/public/files/
sites/*/locks/
sites/assets/
*.sqlite
*.db

# Node & Yarn
node_modules/
yarn.lock
package-lock.json

# Docker
*.pid
*.sock
*.log
.env
.env.local
.env.*.local

# OS / IDE
.DS_Store
.idea/
.vscode/